.catalog{
    margin-top: 170px;
    margin-bottom: 170px;
}
.catalog-container{
    display: grid;
    /* grid-template-areas:
        "col1 col2 col3"
        "col3 col4 col5"; */
    grid-template-rows:  1fr 1fr;
    grid-template-columns: 440px 440px 440px;
    gap:40px;
    justify-content: center;
}
.catalog-container__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    color: #292D32;
    margin:0 0 30px 0;
}
.catalog-container__title--sub{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #838383;
    margin-bottom: 50px;
}
.catalog-contaienr__button{
    display: flex;
    align-items: center;
}
.catalog-contaienr__button--circle {
    position: relative;
    width: 55px;
    height: 55px;
    background-color: rgb(51, 169, 255);
    border-radius: 50%;
    margin-right: 12px;
  }
  .catalog-contaienr__button--arrow{
    position: relative !important; 
    top: 18px !important;
    left: 20px !important;
  }
 
.col1,.col2,.col3,.col4,.col5,.col6{
    /* border: 1px solid black; */
    width: 440px;
    height: 371px;
}
.col2,.col3,.col4,.col5,.col6{
    border-radius: 20px;
    background: #F2F2F2;
}
.padd{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 40px 40px;
}
.col2 .padd img{
    position: absolute;
    left: 12px;
    top: -8px;
}
.col3 .padd img{
    position: absolute;
    left: 114px;
    top: -19px;
}
.col4 .padd img{
    position: absolute;
    top: 108px;
}
.col5 .padd img{
    position: absolute;
    left: 70px;
    top: 75px;
}
.col6 .padd img{
    position: absolute;
    left: 78px;
    top: 58px;
}
.catalog-conainer__numbar{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    line-height: 150%;
}
.catalog-container__text{
    position: absolute;
    bottom: 20px;
}
.catalog-container__text--counter{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #838383;
    margin: 3px 0px;
}
.catalog-container__text--name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    color: #292D32;
    margin: 2px 0px;
}