@media (max-width: 375px){
  body{
    margin: 0;
  }
    

     
    .form,.footer{
        margin: 0;
        padding: 0;
    }   

    .catalog-container{
        display: block;
        /* grid-template-rows:  1fr 1fr;
        grid-template-columns: 440px 440px 440px;
        gap:40px;
        justify-content: center; */
    }
    .col1,.col2,.col3,.col4,.col5,.col6{
        /* border: 1px solid black; */
        width: 345px;
        height: 275px;
    }
    .background-img{
        display: none;
    }
  }