.swiper{
  width: 100vw;
  height: 42.688rem;
}
.swiper-slide{
  text-align: center;
  font-size: 18px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img{
  object-fit: cover;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right: 140px !important; 
  left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: 140px !important; 
  right: auto;
}
.swiper-slide__item-left{
  background: #F2F2F2;
  width: 73.5%;
  height: 100%;
  position: relative;
  z-index: -4;
}
.swiper-slide__item-right{
  background: #F9F9F9;
  width: 26.5%;
  height: 100%;
}
.swiper-slide__item--text{
  position: absolute;
  left: 390px;
  top: 237px;
}
.swiper-titele{
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  color: #292D32;
  text-align: left;
  margin-top: 0;
}
.swiper-tag{
  font-weight: 300;
font-size: 18px;
line-height: 24px;
color: #838383;
text-align: left;
z-index: 2;
}
.swiper-photo__main,.swiper-photo__back{
  position: relative;
}
.swiper-photo__main img{
  position: absolute;
  top: 72px;right: 59px;
  z-index: 2;
}
.swiper-photo__back img{
  position: absolute;
  left: 260px;
  top: 93px;
  z-index: -1;
}
.swiper-slide__item-right--text{  
  position: relative;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  color: #292D32;
  width: 37%;
  text-align: left;
}
.swiper-slide__item-right--text p{
  position: absolute;
  bottom: 43px;
  margin-left: 35px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 168px;
  left: 375px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  background: black;
}
.swiper-pagination-bullet{
  height: 5px;
  width: 5px;
}
.swiper-pagination-bullet-active{
  width: 9px;
  height: 9px;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  display: none;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  position: absolute;
  right: -495px;
}

.swiper-button-next, .swiper-button-prev{
  top:74%;
  width: calc(var(--swiper-navigation-size)/ 2 * 27);
}

.swiper-button-next:after, .swiper-button-prev:after{
  color: black;
}
.swiper-slide__btn .catalog-contaienr__button .catalog-contaienr__button--circle img{
  margin-right: 40px !important; 
}
.swiper-slide__item--rotate{
  position: absolute;
  bottom: -4px;
  right: 477px;
}
.swiper-slide__item--rotate--text{
  transform: rotate(-90deg);
  width: 200px;
    margin-bottom: 77px;
}
.swiper .mySwiper .swiper-initialized .swiper-horizontal .swiper-pointer-events .swiper-backface-hidden{
 overflow: inherit !important;
}